# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/

title: fastpages
description: An easy to use blogging platform with support for Jupyter Notebooks.
github_username: fastai

# Email and twitter are optional:
email: 
twitter_username: "@fastdotai"

# OPTIONAL: override baseurl and url if using a custom domain
url: "https://fastai.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/fastpages" # the subpath of your site, e.g. /blog

# you can comment the below line out if your repo name is not different than your baseurl
github_repo: "fastpages"

# Set this to true to get LaTeX math equation support
use_math: 

# Add your Google Analytics ID here if you have one and want to use it
google_analytics:

# Everything below here can be ignored, unless you want to change the theme entirely
theme: minima
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-octicons
  - jekyll-github-metadata
  - jekyll-toc
  - jekyll-twitter-plugin
  - jekyll-relative-links
  - jekyll-seo-tag

titles_from_headings:
  enabled:     true
  strip_title: true
  collections: true

highlighter: rouge
markdown: kramdown
kramdown:
  math_engine: katex
  input: GFM
  auto_ids: true
  hard_wrap: false
  syntax_highlighter: rouge
