// Override Syntax Highlighting In Minima With the Dracula Theme: https://draculatheme.com/
// If you wish to override any of this CSS, do so in _sass/minima/custom-styles.css
 
$dt-gray-dark: #282a36;  // Background
$dt-code-cell-background: #323443;
$dt-gray: #44475a;       // Current Line & Selection
$dt-gray-light: #f8f8f2; // Foreground
$dt-blue: #6272a4;       // Comment
$dt-cyan: #8be9fd;
$dt-green: #50fa7b;
$dt-orange: #ffb86c;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;
$dt-green-light: rgb(172, 229, 145);

.language-python + .language-plaintext {
    border-left: 1px solid grey;
    margin-left: 1rem !important;
}

// ensure dark background for code in markdown
[class^="language-"]:not(.language-plaintext) pre,
[class^="language-"]:not(.language-plaintext) code {
    background-color: $dt-code-cell-background !important;
    color: $dt-gray-light;
}

.language-python + .language-plaintext code { background-color: white !important; }
.language-python + .language-plaintext pre  { background-color: white !important; }

// for Jupyter Notebook HTML Code Cells modified from https://www.fast.ai/public/css/hyde.css

.input_area pre, .input_area div {
    margin-bottom:2rem !important;
    margin-top:1.5rem !important;
    padding-bottom:0 !important;
    padding-top:0 !important;
    background: #323443 !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", Roboto, Ubuntu, monospace;
    border-radius: 5px;
    font-size: 100%;
}
.output_area pre, .output_area div {
    margin-bottom:1rem !important;
    margin-top:1rem !important;
    padding-bottom:0 !important;
    padding-top:0 !important;
}
.input_area pre {
    border-left: 1px solid lightcoral;
}
.output_area pre {
    border-left: 1px solid grey;
    margin-left: 1rem !important;
}

.code_cell table { width: auto; }

/* Dracula Theme v1.2.5
 *
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 *
 */

.highlight {
    background: $dt-code-cell-background !important;
    color: $dt-gray-light !important;
    pre, code {
     background: $dt-code-cell-background;
     color: $dt-gray-light;
    }
   
    .hll,
    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss {
         color:rgb(231, 153, 122);
    }
  
    .go {
      color: $dt-gray;
    }
  
    .err,
    .g,
    .l,
    .n,
    .x,
    .ge,
    .gr,
    .gh,
    .gi,
    .gp,
    .gs,
    .gu,
    .gt,
    .ld,
    .no,
    .nd,
    .pi,
    .ni,
    .ne,
    .nn,
    .nx,
    .py,
    .w,
    .bp {
      color: $dt-gray-light;
      background-color: $dt-code-cell-background !important;
    }
 
    .p {
         font-weight: bold;
         color: rgb(102, 217, 239);
 }
  
    .ge {
      text-decoration: underline;
    }
  
    .bp {
      font-style: italic;
    }
  
    .c,
    .ch,
    .cm,
    .cpf,
    .c1,
    .cs {
      color: $dt-blue;
    }
  
    .kd,
    .kt,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
      color: $dt-cyan;
    }
  
    .kd,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
      font-style: italic;
    }
  
    .fm,
    .na,
    .nc,
    .nf
     {
      color: $dt-green-light;
    }
  
    .k,
    .o,
    .cp,
    .kc,
    .kn,
    .kp,
    .kr,
    .nt,
    .ow {
      color: $dt-pink;
    }
 
    .kc {
         color: $dt-green-light;   
    }
  
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .mo,
    .il {
      color: $dt-purple;
    }
  
    .gd {
      color: $dt-red;
    }
}
